bleak==0.22.2
certifi==2024.6.2
charset-normalizer==3.3.2
claranet4==0.2.0
defopt==6.4.0
docutils==0.21.2
idna==3.7
influxdb==5.3.2
msgpack==1.0.8
pockets==0.9.1
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-CoreBluetooth==10.3.1
pyobjc-framework-libdispatch==10.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
sphinxcontrib-napoleon==0.7
urllib3==2.2.2
